.bg-nav {
    background: transparent;
    backdrop-filter: blur(10px);
}
.border-search {
    border-radius: 10px !important;
}
.bg-blue {
    background: radial-gradient(
            circle,
            #0e81fa 30%,
            #005ebe 100%
    );
}
.text-blue {
    color: #092338;
}

.content {
    margin-top: 75px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    overflow-y: auto;
    padding-bottom: 20px;
}
.chemical_element {
    padding: 5px;
    text-align: center;
    align-items: center;
    color: white;
    width: 170px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    font-family: roboto;
    font-size: 20px;
    border-radius: 10px;
    border:transparent;
}

.photo {
    width: 100vw;
}
h1 {
    font-size: 83px;
    margin: 0;
}
::-webkit-scrollbar {
    width: 0;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: none;
}