.bg-nav {
    background: #27272a89;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    
}
.search {
    max-width: 500px;
    min-width: 300px;
}
.bg-red {
    background: rgb(231, 139, 143);
    background: radial-gradient(
            circle,
            rgb(235, 105, 112) 30%,
            rgb(245, 40, 40) 100%
    );
}
.content {
    padding-top: 75px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
}
.chemical_element {
    padding: 5px;
    text-align: center;
    align-items: center;
    color: white;
    width: 170px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    font-family: roboto;
    font-size: 20px;
    border-radius: 10px;
}
h1 {
    font-size: 83px;
    margin: 0;
}
::-webkit-scrollbar {
    width: 0;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: none;
}